@model FINANCE.CORE.Models.ContributionTransactionHistory

@{
    ViewData["Title"] = "Chỉnh sửa";
}

<h1>Chỉnh sửa</h1>

<h4>Lịch sử góp vốn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label">Người thực hiện</label>
                <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID"></select>
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContributionContractID" class="control-label">Mã hợp đồng</label>
                <select asp-for="ContributionContractID" class="form-control" asp-items="ViewBag.ContributionContractID"></select>
                <span asp-validation-for="ContributionContractID" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ContractID" />
            <div class="form-group">
                <label asp-for="Type" class="control-label">Loại phiếu</label>
                <select asp-for="Type" class="form-control">
                    <option value="0">Thu</option>
                    <option value="1">Chi</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Số tiền</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractSignDate" class="control-label">Ngày lập phiếu</label>
                <input asp-for="ContractSignDate" class="form-control" />
                <span asp-validation-for="ContractSignDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label">Ghi chú</label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại</a>
</div>
