@model FINANCE.CORE.Models.LoanContract

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Hợp Đồng Vay Lãi</h4>
<hr />
@if(ViewData["CreateFail"]!= null)
{
    <script>
        alert("Ngay het han co van de");
    </script>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BorrowerID" class="control-label">Người Vay</label>
                <select asp-for="BorrowerID" class="form-control" asp-items="ViewBag.BorrowerID"></select>
            </div>
            <div class="form-group">
                <label asp-for="InterestRate" class="control-label">Phần Trăm Lãi</label>
                <input asp-for="InterestRate" type="number" step="0.01" class="form-control" required />
                <span asp-validation-for="InterestRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Tiền Vay</label>
                <input asp-for="Amount" type="number" step="0.01" class="form-control" required />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractSignDate" class="control-label">Ngày Tạo HĐ</label>
                <input asp-for="ContractSignDate" class="form-control" type="date" required />
                <span asp-validation-for="ContractSignDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpireDate" class="control-label">Ngày Hết Hạn</label>
                <input asp-for="ExpireDate" class="form-control" type="date" required />
                <span asp-validation-for="ExpireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label">Ghi Chú</label>
                <input asp-for="Note" class="form-control" required/>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

